.header {
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #131921;
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 18px;
}

.header__search {
	display: flex;
	flex: 1;
	align-items: center;
	border-radius: 24px;
}
.header__search__input {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
}
.header__search__icon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9042;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

.header__option {
	color: white;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
}

.header__option__lineOne {
	font-size: 10px;
	font-weight: 200;
	font-family: 'Amazon Ember', sans-serif;
}
.header__option__lineTwo {
	font-size: 13px;
	font-weight: 700;
	font-family: 'Amazon Ember Mono', sans-serif;
}

.header__option__cart {
	display: flex;
	align-items: center;
	color: white;
	justify-content: space-evenly;
}

.header__option__cartCount {
	color: #f90;
	margin-left: 10px;
	margin-right: 10px;
}
